.titleContainer {
  border: solid red;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("https://www.shutterstock.com/image-vector/light-blue-vector-pattern-fresh-260nw-1041876577.jpg");
  object-fit: fill;
}


.logo {
  border: solid red;
  height: 200px;
  width: 200px;
}

.menu {
  border: solid rgb(0, 145, 255);
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg5bfChKBMXRli1VebotysZIkZrtCjJYIvYg&usqp=CAU");
  object-fit: fill;
  color: red;
}

.breakfast {
  border: solid red;
  color: yellow;
  width: 25%;
  font-size: 18px;
}

.lunch {
  border: solid red;
  color: yellow;
  width: 25%;
  font-size: 18px;
}
.dinner{
  border: solid red;
  color: yellow;
  width: 25%;
  font-size: 18px;
}
.desert {
  border: solid red;
  color: yellow;
  width: 25%;
  font-size: 18px;
}

.menuList {
 display:flex;
 justify-content: space-evenly;
}

